%% -*- erlang -*-
{sub_dirs, ["src"]}.
{deps, [
		{cowboy, ".*", {git, "git://github.com/ninenines/cowboy.git", {branch, "master"}}},
		{stable, ".*", {git, "https://github.com/ddqd/stable.git", "HEAD"}},
        {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {branch, "master"}}},
        {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}},
		{sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
]}.
